@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(106, 106, 200);
    padding: 8px;
}
#mainbox{
    width: 64vw;
    height: 70vh;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 18px;
    background-color: azure;
   
    
}
#bigbox{
    display: flex;
    flex-direction: column;
    height: 74%;
    width: 100%;
    gap: 17px;
}
#language{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
#box{
    width: 100%;
    height: 15%;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#box1,#box2{
    width: 28%;
    height: 83%;
    border: none;
    text-align: center;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(205, 205, 205);
    padding-left: 18px;
    padding-right: 25px;
    font-size: 1.7vw;
}
.lang{
    border: 1px solid black;
    border-radius: 4px;
    width: 50%;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    font-size: 18px;
    
    height: 100%;
    resize: none;
    padding: 8px;

}
#lang1{
}




button{
    width: 100%;
    height: 12%;
    border: none;
    background-color: rgb(84, 84, 197);;
    color: #fff;
    border-radius: 8px;
    font-size: 2rem;
}
button:active{
    background-color: rgb(106, 106, 200);;
}

.bi{
    font-size: 1.5vw;
    font-size: 1.5vw;
}
@media only screen and (max-width:740px){
    button{
        font-size: 5vw;
        height:11%;
    }
    #language{
        display: flex;
        flex-direction: column;
    }
    .lang{
        width: 96%;
        height: 50%;
        font-size: 3.6vw;
    }
    #mainbox{
        width:90% ;
        height: 60%;
    }
    #bigbox{
        gap: 1px;
    }
    .bi{
        font-size: 2.5vw;
        font-size: 2.5vw;
    }
    #box1,#box2{
        font-size: 3vw;
    }

}
